* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tree li {
    list-style-type: none;
    text-align: center;
    position: relative;
    padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 20px;
    border-top: 2px solid #000;
}

.tree li::before {
    left: -50%;
    border-right: 2px solid #000;
}

.tree li::after {
    right: -50%;
    border-left: 2px solid #000;
}

.tree ul > li::before, 
.tree ul > li::after {
    display: none;
}

.ident {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    background-color: pink;
    min-width: 140px;
    font-weight: bold;
}

.nivel1 {
    background-color: #FBB;
    color: #333;
}

.nivel2 {
    background-color: #CCC;
    color: #000;
}

.nivel3 {
    background-color: #000;
    color: #fff;
}
